
:root {
    --fondo: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,51,1) 24%, rgba(127,147,189,1) 100%);
    --color-blanco: #f8f8f8;
    --color-azul-oscuro: #1a2740;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--fondo)
}

.cabecera {
    display: flex;
    align-items: center;
    padding: 1.5% 0.5%;
    gap: 25%;
    box-sizing: border-box;
}

.cabecera h1 {
    color: var(--color-blanco);
    font-size: 3rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    padding: 1.5% 0.5%;
    min-height: 100vh;
    box-sizing: border-box;
}

.columna-encriptar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    gap: 0.5rem;
    border-radius: 0.6rem;

}

.columna-encriptar textarea{
    height: 60%;
    padding: 3%;
    margin: 0% 0% 5% 13.5%;
    background: none;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    color: var(--color-blanco);
}

.condicion {
    display: flex;
    align-items: center;
    gap: 2%;
    justify-content: center;
    color: var(--color-blanco);
}

.botones {
    display: flex;
    justify-content: center;
    gap: 5%;
}

button {
    font-size: 1.15rem;
    border-radius: 0.75rem;
    border: 1px outset black;
    padding: 0.8rem 2rem;
}

.columna-respuesta{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 1% 2% 0 2%;
    border-radius: 2rem;
    box-sizing: border-box;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);

}

.text-read {
    height: 100%;
    border-radius: 2rem;
    padding: 3%;
    background: none;
    font-size: 1.1rem;
}

.mensaje-respuesta {
    width: 25%;
    position: absolute;
    justify-content: center;
}

.mensaje-respuesta img {
    width: 70%;
}

.respuesta_1{
    font-weight: 550;
    font-size: 1.5rem;
    color: var(--color-blanco);
    padding: 5% 2.9%;
}

.respuesta_2{
    color: var(--color-blanco);
    font-size: 1rem;
}

.btn-copiar {
    padding: 0.8rem 2rem;
    align-self: center;
    margin: 0 0 1.2rem 0;
    font-family: var(--fuente-prompt);
    font-size: 1.15rem;
}

footer{
    text-align: center;
    color: var(--color-blanco);
    font-size: 1.5rem;
    background-color: var(--color-azul-oscuro);

}

@media (max-width: 900px) {

    .cabecera {
        max-width: 100vw;
        align-items: center;
        gap: 7%;
    }

    .body{
        background-color: var(--fondo);
    }

    .container{
        flex-direction: column;
        align-items: center ;
        
    }

}